@font-face {
    font-family:'Monoton' ;
    src: url(../fuentes/Monoton-Regular.ttf);
}
*{
    padding:0;
    margin:0;
    font-size: 20px;
    font-family:sans-serif;
    text-decoration:none;
    color:#fff;    
    
}

ul,li{
    list-style-type: none;

}

body{
    background-color: #000;
    
}


.portada{
    width:100%;
    height: 80vh;
    min-height: 600px;
    position:relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    padding-top:450px;
    color:#fff;
    justify-content: center;
    justify-items: center;
       
}
.portada::before{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../imágenes/instructores.jpg);
    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
    background-size: cover;
    z-index: -1;
  
}
.portada__texto {
    max-width: 70%;  
    display:grid;
    padding-top: 50px;
    grid-auto-rows:max-content;
    align-content:center;
    justify-content: center;
    text-align: center;
    gap: 3em;
    
    
}

.portada__texto h1{
    font-size:50px;
    text-shadow: 2px 2px 5px #000;
}
.portada__texto p{
    width: 80%;
    margin: auto;
    font-size:25px;
    text-shadow: 2px 2px 5px #000;
}
.portada__texto .cta{
    display: inline-block;
    background-color: #b00;
    justify-self:center;
    text-decoration: none;
    padding:13px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
    transition:all .3s ease-in-out;
    text-shadow: 2px 2px 5px #000;
    
}
.cta:hover{
    transform: scale(1.1);
}






/*PROFESORES*/
.container__profe{
    width: 100%;
    margin: auto;
    
}
.clase__de_{
    margin-top: 40px;
    justify-items: center;
    text-align: center;
    margin-bottom: 40px;
}
.clase__de{
    margin-left: 100px;
    font-size: 2rem;
    display: inline-flex;
}
.profe__disciplina{
    font-size: 2.5rem;
    margin-left: 20px;
    color: #b00;
    justify-items: center;
    text-align: center;
    margin-bottom: 10px;
    display: inline-flex;
}
.profesor1, .profesor2{
    width: 100%;
    
   position: relative;
    display: grid;
}
.profesor2{
    text-align: right;
    justify-content: right;
    justify-items: right;
    
}
.profesor1{
    text-align: left;
    justify-content: left;
    justify-items: left;
}

.profesor1 img, .profesor2 img{
    width: 100%;
}


.profesor1 .profe__descripcion{
    position:absolute;
    top:50%;
    left:71%;
    transform: translate(-50%, -50%);
    z-index:100;
    width: 30%;
}
.profesor2 .profe__descripcion{
    position:absolute;
    top:50%;
    left: 29%;
    transform: translate(-50%, -50%);
    z-index:100;
    width: 30%;
}
.profesor2 .profe__perfil{
    text-align: right;
}
.profe__nombre{
    font-size: 2rem;
    font-family: Monoton;
    color:#cc0000;
    text-shadow: 1px 1px 3px #fff;
    margin-bottom: 50px;

}
.profe__parrafo{

    margin-bottom: 20px;
    

}
.profe__perfil{
    text-align: left;
   

}
.profe__redes, .profe__progs{
    margin-top:30px;
    
    
   

}
.profe__progs a{display: inline-block;
    background-color: #b00;
    justify-self:center;
    text-decoration: none;
    padding:13px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
    transition:all .3s ease-in-out;
    text-shadow: 2px 2px 5px #000;
}
.profe__progs a:hove{
    transform: scale(1.1);
}

.profe__redes a{
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(230, 0, 0, .9);
}
.profe__redes a:hover{
    transform: scale(1.1);
}

 /* BOTONES LLAMADA*/
.cta__end a{
    display: inline-block;
    background-color: #b00;
    justify-self:center;
    text-decoration: none;
    padding:13px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
    transition:all .3s ease-in-out;
    text-shadow: 2px 2px 5px #000;
}
.cta:hover, .cta__end a:hover{
    transform: scale(1.1);
}
.cta__end{
    width: 100%;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: 50px;
}



/*PROGRAMAS*/
.programas{
    width: 85%;
    height: 40vh;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    
  
    
    
}


.progs__icons{
    display:grid;
    width: 100%;
    margin-top:-50px;
    gap:1em;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    text-align: center;

}
.prog{
    display: grid;
    gap: 1em;
    justify-items:center;
    justify-content: center;
    width: 250px;
    height: 70%;
    margin: auto;
    margin-top: 50px;
    border-radius: 50%;
   
    
}
.prog__foto{
    transition: all 0.3s ease-in-out;
}
.prog__foto:hover{
    transform: scale(1.3);
}

.prog__title{
    position:relative;
    font-size: 1.45rem;
    font-family: Monoton;
    color: #000;
    text-shadow: 0 0 8px#f00;
    z-index: 100;
    transition: all 0.3s ease-out;
    margin-top: -40px;
    margin-bottom: 40px;
    
}
.prog__title:hover{
    color: #b00;
    text-shadow: 0 0 8px#fff;;
    font-size: 1.6rem;
    
}





/*OPCIONES*/
.opciones{
    width: 70%;
    height: 70vh;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    
}

.subtitle2{
    margin-top:30px;
    text-align: center;
    
}
.subtitle2 p{
    text-align: center;
    font-size: 1.4rem;
}

.about__main{
    padding-top: 80px;
    display:grid;
    width: 90%;
    margin: 0 auto;
    gap:1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-template-rows:  repeat(auto-fit, minmax(300px, auto));
    text-align: left;

}

.texto{
    margin:auto;
    position:relative;
    width: 100%;
    height: 80px;
    background-color: linear-gradient(180deg, rgba(2,0,0,1) 50%, rgba(187,0,0,1) 70%, rgba(0,0,0,1) 80%);
    box-shadow: 5px 5px 5px rgba(255, 0, 0, .9);
    padding: 5px;
    margin-top: -60px;
    text-align: center;
    align-items: center;
    line-height: 1.4;
    
}
.texto a{
    color:#b00;
    font-size: 20px;
    
   
}
.texto p{
    font-size: medium;
    color: #fff;
    
}
.mas{
    transition:all .3s ease-in-out;
}
.mas:hover{
    font-size: 21px;
    color: #f00;
    

    
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items:center;
    width: 300px;
    height: 450px;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
    border-radius: 1%;
}







   


