*{
    padding:0;
    margin:0;
    font-size: 20px;
    font-family:sans-serif;
    text-decoration:none;
    color:#fff;    
}


body{
    background-color: #000;
    
}


.portada{
    width:100%;
    height: 80vh;
    min-height: 600px;
    position:relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    padding-top:450px;
    color:#fff;
       
}

.portada__texto {
    max-width: 100%;
    display:grid;
    grid-auto-rows:max-content;
    align-content:center;
    justify-content: center;
    text-align: center;
    gap:1em;
    padding-bottom: 100px;
    
}

.portada__texto h2{
    font-size:2rem;
    text-shadow: 2px 2px 5px #000;
   
}
.portada__texto h1{
    margin-top: -25px;
    font-size:3.5rem;
    color: #b00;
    text-shadow: 4px 4px 5px #000;
    
}

.portada__texto p{
    margin-top: -15px;
    margin-bottom: 20px;
    font-size:25px;
    text-shadow: 2px 2px 5px #000;
}
.cta{
    display: inline-block;
    background-color: #c00;
    justify-self:center;
    text-decoration: none;
    padding:13px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .9);
    transition:all .3s ease-in-out;
    text-shadow: 2px 2px 5px #000;
}
.cta:hover{
    transform: scale(1.1);
}
/*DESCRIPCIÓN*/
.descripcion{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    margin: auto;
    margin-top: 80px;

}

.descripcion__right{
    display: grid;

}
.descripcion__left{
    display: grid;
    
    margin-left: 40px;

}
.descripcion__left img{
    width: 90%;
    
}
.title, .objetivos h2, .contenido__right h2{
    color: #bb0000;
    font-size: 2.8rem;
    text-shadow: 2px 2px 5px #555;
}

.about__descripcion{
    line-height : 30px;
    margin-top: 40px;
}
/*OBJETIVOS*/
.objetivos{
    margin: auto;
    margin-top: 200px;
    width: 100%;
    
    
    
}
.obt__title{
    
    justify-content: center;
    text-align: center;
    
}
.title-obt{
    
    text-align: center;
    display: inline-flex;
}

hr{
    border-color: #bb0000;
    box-shadow:0px 8px 10px #ee0000;
}
.obt__icons{
    display: grid;
    width: 80%;
    margin: auto;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    text-align: center;

}
.obt__title{
    margin: auto;
    margin-top: -80px;
    position:relative;
    overflow: hidden;
}

/*CONTENIDO*/
.contenido{
    margin:auto;
    width: 80%;
    display: grid;
    margin-top: 60px;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    overflow: hidden;

}
.contenido__right{
    width: 30%;
    margin: auto;
    margin-left: 50px;
    text-align: left;
   
    
}
.contenido__left{
    margin-left: -500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));

    
}

.contenido__foto{
    width: 350px;
}

.foto2, .p2{
    margin-left:-84px;

}
.foto3, .p3{
    margin-left:-168px;

}
.icon__foto{
    line-height: 3rem;
}

.icon__text{
    line-height: 16rem;
    margin-left: -300px;
}
/*EL ABOUT Y LAS OPCIONES DE LA PAGINA*/


.container__about{
    text-align: justify;
    width: 70%;
    height: 110vh;
    margin: auto;
    margin-top: 120px;
    

}
.subtitle{
    color:#c00;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 40px;
    text-shadow:1px 1px 1px #bbb;

}
.about__paragraph{
    line-height: 1.8;
    color:#eee;

}
.video{
    text-align: center;
    width: 100%;
    padding:30px
}
video{
    width: 90%;
}
.cta1{
    text-align: center;
    margin: 20px;
}
.ctalink{
    background-color: #b00;
    justify-self:center;
    text-decoration: none;
    padding:13px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(120, 0, 0, 0.8);
    transition:all .3s ease-in-out;
    text-shadow: 2px 2px 10px #000;
}
.ctalink:hover{
    transform: scale(1.1);
    color: #000;
    font-size: x-large;
}

/*Presentacion Paul*/
.presentacion{
    height: 500px;
    background-color: #000000;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #000000 8px ), repeating-linear-gradient( #bb000055, #bb0000 );
    margin: auto;
    padding-top: 30px;
    min-width: 800px;
}
.presentacion__container{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap:1em;
    align-items: center;
    width: 70%;
    margin: auto;
    text-align: center;
}
.presentacion__foto{
    max-width: 500px;
    align-items: center;
    text-align: center;
    
}

.presentacion__foto img{
    width: 70%;
    display: block;
}
.presentacion__parrafo{
    margin-top:30px;
    line-height: 1.8;
}
.link{
    color:#b00;
    font-size:30px;
    transition:all .3s ease-in-out;
    

}
.link:hover{
    transform: scale(1.1);
    color:#fff;
    font-size: xx-large;
}

/*OPCIONES*/
.opciones{
    width: 70%;
    height: 130vh;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
}

.subtitle2{
    margin-top:80px;
    text-align: center;
    
}
.subtitle2 p{
    text-align: center;
    font-size: 1.4rem;
}

.about__main{
    padding-top: 80px;
    display:grid;
    width: 90%;
    margin: 0 auto;
    gap:1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-template-rows:  repeat(auto-fit, minmax(300px, auto));
    text-align: left;

}

.texto{
    margin:auto;
    position:relative;
    width: 100%;
    height: 80px;
    background-color: linear-gradient(180deg, rgba(2,0,0,1) 50%, rgba(187,0,0,1) 70%, rgba(0,0,0,1) 80%);
    box-shadow: 5px 5px 5px rgba(255, 0, 0, .9);
    padding: 5px;
    margin-top: -60px;
    text-align: center;
    align-items: center;
    line-height: 1.4;
    
}
.texto a{
    color:#b00;
    font-size: 20px;
    
   
}
.texto p{
    font-size: medium;
    color: #fff;
    
}
.mas{
    transition:all .3s ease-in-out;
}
.mas:hover{
    transform: scale(1.1);
    color: #f00;
    font-size: 22px;

    
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items:center;
    width: 300px;
    height: 450px;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
    border-radius: 1%;
}







   


